<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <div id="welcome">
          <h1>
            <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="124px" height="28px" viewBox="0 0 191.004 42.997" enable-background="new 0 0 191.004 42.997" xml:space="preserve" role="img" aria-label="EasySend – przelewy z UK do Polski">
                          <g>
                              <title>EasySend – przelewy z UK do Polski</title>
                              <desc>Tanie, szybkie, bezpieczne przelewy z UK do Polski i strefy euro. Pierwszy przelew bez opłat. Sprawdź!</desc>
                              <path fill="#0a3e66" d="M38.779,2.202c-1.117-1.097-2.41-1.778-4.023-2.079l-0.04-0.007l-0.041-0.007
                              C34.224,0.036,33.746,0,33.258,0c-1.043,0-2.197,0.169-3.43,0.501l-0.023,0.006l-0.023,0.007
                              c-5.754,1.643-16.047,4.388-19.463,5.241L10.29,5.762L10.26,5.77C8.947,6.123,7.752,6.684,6.706,7.434l-0.02,0.014l-0.02,0.015
                              c-2.187,1.621-3.572,4.011-4.117,7.101L0.191,27.928c-0.217,1.224-0.248,2.299-0.1,3.285c0.117,0.772,0.314,1.445,0.598,2.031
                              c0.146,0.301,0.889,1.668,1.358,2.203c0.648,0.741,1.737,1.527,2.681,1.936c0.765,0.33,1.464,0.516,2.137,0.565
                              c0.402,0.029,0.891,0.032,0.985,0.032h0.036h0.037c0.596-0.012,14.641-0.288,18.556-0.498c1.815-0.098,4.499-0.585,6.983-2.354
                              c1.931-1.373,4.402-4.049,5.213-8.987l2.615-15.927c0.355-2.168,0.184-3.934-0.524-5.396C40.277,3.806,39.895,3.3,38.779,2.202z
                              M36.699,6.795c0,0.148-0.005,0.302-0.015,0.459c-0.007,0.104-0.038,0.447-0.046,0.512c-0.02,0.177-0.046,0.357-0.076,0.543
                              l-2.613,15.833c-1.154,6.996-6.168,8.462-9.085,8.624c-3.862,0.216-18.255,0.521-18.255,0.521s-0.439,0-0.736-0.021
                              s-0.653-0.123-1.07-0.303c-0.049-0.021-0.094-0.049-0.143-0.071c-0.344-0.173-0.627-0.401-0.844-0.693
                              c-0.244-0.329-0.415-0.815-0.512-1.456c-0.098-0.64-0.068-1.395,0.086-2.269L5.747,15.11c0.402-2.277,1.35-3.969,2.873-5.099
                              c0.727-0.521,1.557-0.91,2.497-1.162c3.554-0.888,13.852-3.638,19.568-5.271c1.352-0.363,2.51-0.473,3.464-0.319
                              c1.041,0.194,1.768,0.713,2.172,1.557c0.002,0.004,0.002,0.008,0.004,0.012C36.574,5.352,36.7,6,36.699,6.772
                              C36.7,6.779,36.699,6.787,36.699,6.795z M30.645,6.551c-0.34-0.059-0.714-0.073-1.117-0.048c-0.506,0.07-1.03,0.158-1.574,0.265
                              c-0.021,0.005-0.043,0.01-0.064,0.016c-0.002-0.002-0.002-0.002-0.004-0.003c-0.717,0.141-1.469,0.311-2.25,0.511
                              c-0.401,0.102-0.802,0.214-1.201,0.334c-2.141,0.59-3.715,1.62-4.768,3.092l0.228-1.33c-1.466,0.145-4.163,0.682-7.716,1.512
                              c-0.768,0.193-1.446,0.501-2.041,0.917c-1.252,0.907-2.029,2.279-2.356,4.138l-1.914,10.89c-0.125,0.713-0.146,1.325-0.064,1.843
                              c0.083,0.52,0.226,0.911,0.429,1.174c0.205,0.268,0.477,0.469,0.817,0.604c0.25,0.103,1.06,0.397,1.786,0.358
                              c0.429-0.022,13.18-0.72,15.134-0.825c1.317-0.07,2.505-0.381,3.55-0.932c2.035-1.102,3.335-3.222,3.852-6.331l0.23-1.387
                              c0.402-2.418-0.025-4.135-1.256-5.135c-0.738-0.602-1.846-0.767-3.304-0.508l-3.092,0.551c-0.771,0.137-1.29,0.074-1.567-0.187
                              c-0.168-0.163-0.194-0.583-0.078-1.261l0.127-0.747c0.132-0.775,0.38-1.298,0.746-1.568c0.368-0.271,0.976-0.499,1.828-0.684
                              c0.059-0.013,0.775-0.167,2.179-0.471c1.423-0.307,3.188-0.588,5.362-0.844l0.064-0.383C32.83,8.047,32.165,6.855,30.645,6.551z
                              M24.881,21.023c0.664-0.089,1.103-0.004,1.313,0.255c0.209,0.261,0.262,0.707,0.154,1.34l-0.152,0.916
                              c-0.111,0.653-0.385,1.116-0.82,1.387c-0.432,0.271-0.997,0.438-1.691,0.504c-2.355,0.226-13.016,1.002-13.016,1.002
                              c-0.387,0.037-0.68,0.013-0.881-0.074c-0.281-0.113-0.362-0.512-0.243-1.195l0.39-2.236l5.855-1.045l0.663-3.854l-5.792,0.732
                              l0.389-2.226c0.074-0.428,0.178-0.777,0.309-1.046c0.19-0.35,0.561-0.584,1.115-0.702l5.918-1.262
                              c-0.084,0.314-0.154,0.644-0.213,0.983l-0.305,1.78c-0.083,0.479-0.141,1.056-0.176,1.731c-0.008,0.431,0.086,0.985,0.283,1.667
                              c0.17,0.559,0.574,1.03,1.22,1.415c0.605,0.378,1.519,0.487,2.759,0.321L24.881,21.023z M57.01,22.725l10.033-0.348l0.67-3.984
                              l-9.964-0.347l0.634-3.881c0.07-0.555,0.211-0.993,0.422-1.316c0.281-0.416,0.846-0.624,1.689-0.624h9.823l0.633-4.02
                              c-1.478-0.208-3.679-0.353-6.601-0.434C61.427,7.69,59.768,7.65,59.368,7.65c-0.4,0-0.897,0.063-1.496,0.19
                              s-1.203,0.364-1.813,0.71c-1.291,0.74-2.101,2.138-2.43,4.193L51.2,27.818c-0.047,0.394-0.07,0.774-0.07,1.144
                              c0,2.127,1.056,3.442,3.168,3.951c0.563,0.14,1.016,0.207,1.356,0.207c0.34,0,1.988-0.058,4.946-0.173
                              c2.956-0.114,5.104-0.254,6.442-0.415l0.67-3.984h-9.471c-0.212,0-0.412,0-0.6,0c-0.14,0-0.24-0.012-0.299-0.035
                              c-0.059-0.023-0.152-0.047-0.281-0.069s-0.218-0.058-0.265-0.104c-0.047-0.045-0.117-0.104-0.212-0.172
                              c-0.28-0.209-0.363-0.682-0.246-1.422L57.01,22.725z M82.097,14.65c-0.822-0.162-1.562-0.271-2.218-0.329
                              c-0.658-0.058-1.174-0.087-1.549-0.087c-0.377,0-0.828,0.017-1.356,0.052c-0.528,0.035-1.079,0.099-1.654,0.19
                              c-0.575,0.093-1.245,0.313-2.007,0.659c-0.764,0.346-1.421,0.803-1.972,1.368c-0.552,0.566-1.079,1.381-1.584,2.443
                              c-0.505,1.063-0.893,2.334-1.161,3.813c-0.271,1.479-0.406,2.939-0.406,4.384s0.306,2.675,0.916,3.69
                              c0.516,0.832,1.139,1.438,1.865,1.818c0.728,0.383,1.509,0.572,2.342,0.572s1.637-0.104,2.412-0.313
                              c1.619-0.416,2.757-1.027,3.414-1.837l0.74,1.905h3.801l2.465-16.564C85.301,15.609,83.95,15.02,82.097,14.65z M79.562,27.368
                              c-0.61,0.602-1.238,1.039-1.884,1.316s-1.467,0.417-2.465,0.417s-1.637-0.474-1.918-1.422c-0.118-0.438-0.176-0.987-0.176-1.646
                              s0.082-1.461,0.246-2.408c0.352-2.24,0.893-3.695,1.619-4.367c0.353-0.347,0.681-0.589,0.986-0.728
                              c0.305-0.139,0.662-0.248,1.073-0.329c0.411-0.08,0.951-0.121,1.62-0.121c0.668,0,1.413,0.138,2.235,0.416L79.562,27.368z
                              M87.954,15.517c-0.892,0.763-1.456,1.906-1.69,3.431l-0.281,1.663c-0.07,0.439-0.105,0.844-0.105,1.213
                              c0,1.134,0.316,2.046,0.95,2.738c0.821,0.924,2.077,1.386,3.768,1.386h4.188c0.33,0,0.611,0.059,0.846,0.174
                              c0.234,0.115,0.316,0.45,0.246,1.006L95.7,28.062c-0.141,0.786-0.622,1.179-1.443,1.179h-8.801l-0.494,3.016
                              c0.916,0.671,4.331,1.005,10.246,1.005c1.22,0,2.299-0.242,3.237-0.728c1.128-0.578,1.83-1.768,2.113-3.57l0.316-2.112
                              c0.068-0.347,0.105-0.692,0.105-1.04c0-0.993-0.271-1.859-0.811-2.6c-0.729-0.992-1.938-1.489-3.627-1.489h-4.295
                              c-0.048,0-0.123,0-0.229,0c-0.105,0-0.182,0-0.229,0s-0.117,0-0.211,0c-0.094,0-0.164-0.012-0.211-0.035
                              c-0.047-0.022-0.105-0.058-0.176-0.104c-0.235-0.115-0.307-0.462-0.212-1.04l0.142-0.901c0.07-0.392,0.223-0.704,0.457-0.935
                              s0.634-0.347,1.197-0.347h8.449l0.492-3.05c-0.984-0.624-4.248-0.936-9.787-0.936C90.172,14.373,88.846,14.754,87.954,15.517z
                              M120.322,16.002c0-0.485-0.049-0.959-0.143-1.421h-4.576c-0.164,1.571-0.457,2.854-0.881,3.847l-4.752,10.431
                              c-1.104-0.069-1.703-0.521-1.796-1.353l-1.161-12.892h-5.105l1.479,13.724c0.164,1.572,0.674,2.744,1.532,3.518
                              c0.856,0.773,1.966,1.161,3.327,1.161c-0.752,1.455-1.592,2.726-2.518,3.813c-0.929,1.084-2.106,2.01-3.539,2.771v3.396
                              c1.433-0.254,2.793-0.728,4.084-1.42c2.771-1.549,5.117-4.402,7.041-8.561l6.021-12.995
                              C119.992,18.589,120.322,17.249,120.322,16.002z M135.359,19.189c-0.821-0.762-2.02-1.144-3.592-1.144h-3.66
                              c-0.635,0-1.14-0.046-1.515-0.138c-0.26-0.047-0.436-0.122-0.528-0.226c-0.094-0.104-0.199-0.248-0.315-0.434
                              c-0.118-0.185-0.159-0.41-0.124-0.676c0.035-0.265,0.064-0.583,0.089-0.953l0.177-1.247c0.188-1.086,0.539-1.768,1.055-2.045
                              c0.517-0.277,1.304-0.416,2.359-0.416c0.117,0,0.773,0,1.971,0c1.199,0,3.451,0.116,6.761,0.347l0.633-3.812
                              c-2.321-0.67-5.278-1.006-8.871-1.006c-0.233,0-0.479,0-0.737,0h-0.037c-1.689,0-3.098,0.209-4.225,0.624
                              c-2.089,0.786-3.355,2.588-3.802,5.406l-0.353,2.634c-0.07,0.439-0.105,0.866-0.105,1.282s0.035,0.879,0.105,1.386
                              c0.116,0.994,0.609,1.93,1.479,2.808c0.867,0.878,2.311,1.316,4.33,1.316h3.556c0.656,0,1.149,0.1,1.478,0.295
                              c0.33,0.196,0.506,0.41,0.529,0.643c0.023,0.229,0.035,0.449,0.035,0.657s-0.023,0.474-0.07,0.798l-0.211,1.352
                              c-0.234,1.455-1.42,2.183-3.557,2.183c-3.73,0-6.631-0.127-8.695-0.381l-0.6,3.812c2.16,0.693,5.281,1.041,9.365,1.041
                              c1.127,0,2.111-0.069,2.957-0.209c3.332-0.508,5.152-2.518,5.457-6.028l0.211-2.287c0.07-0.347,0.105-0.745,0.105-1.196
                              c0-0.449-0.06-1.045-0.177-1.784C136.674,20.796,136.182,19.93,135.359,19.189z M144.984,29.377
                              c-1.269-0.021-2.102-0.275-2.5-0.763c-0.234-0.3-0.353-0.71-0.353-1.229c0-0.521,0.048-1.046,0.142-1.577
                              c0.774,0.324,1.994,0.484,3.662,0.484c2.485,0,4.518-0.576,6.09-1.731c0.656-0.462,1.227-1.167,1.707-2.114
                              c0.48-0.947,0.723-2.067,0.723-3.361c0-3.211-2.418-4.817-7.253-4.817c-2.63,0-4.647,0.439-6.056,1.317
                              c-0.682,0.393-1.244,0.953-1.689,1.68c-0.445,0.729-0.805,1.497-1.074,2.306c-0.27,0.809-0.539,1.912-0.809,3.311
                              c-0.271,1.396-0.405,2.709-0.405,3.933c0,4.136,1.701,6.284,5.104,6.445c0.681,0.046,1.35,0.069,2.008,0.069
                              c2.769,0,5.35-0.357,7.744-1.074l0.6-3.465c-2.441,0.393-4.613,0.588-6.514,0.588C145.712,29.377,145.337,29.377,144.984,29.377z
                              M142.979,21.165c0.094-0.369,0.164-0.611,0.211-0.728c0.047-0.115,0.135-0.312,0.265-0.589c0.129-0.277,0.258-0.468,0.387-0.572
                              c0.13-0.104,0.287-0.248,0.476-0.433c0.494-0.462,1.352-0.693,2.57-0.693c0.985,0,1.66,0.127,2.024,0.381
                              c0.362,0.255,0.546,0.636,0.546,1.144c0,1.179-0.553,2.01-1.654,2.496c-0.375,0.186-0.816,0.322-1.32,0.416
                              c-0.506,0.093-0.894,0.145-1.162,0.154c-0.271,0.014-0.633,0.02-1.092,0.02c-0.457,0-0.979-0.047-1.566-0.139
                              C142.777,22.02,142.884,21.535,142.979,21.165z M171.451,18.878c0-3.05-1.572-4.574-4.717-4.574c-0.894,0-1.756,0.133-2.588,0.398
                              c-0.834,0.266-1.449,0.509-1.851,0.728c-0.397,0.22-1.021,0.606-1.864,1.161l-0.668-1.976h-3.943l-2.957,18.401h4.929
                              l2.112-13.238c0.352-0.207,0.668-0.392,0.949-0.554c1.149-0.693,2.43-1.04,3.838-1.04c1.149,0,1.726,0.589,1.726,1.768
                              c0,0.231-0.024,0.474-0.069,0.729l-1.973,12.336h4.93l1.971-12.268C171.393,20.079,171.451,19.456,171.451,18.878z M186.109,5.813
                              l-1.584,9.737c-1.666-0.808-3.484-1.213-5.457-1.213c-1.971,0-3.531,0.544-4.683,1.629c-0.54,0.485-1.01,1.115-1.407,1.889
                              c-0.399,0.774-0.718,1.571-0.951,2.391c-0.234,0.821-0.451,1.763-0.65,2.824c-0.2,1.063-0.3,2.068-0.3,3.017
                              c0,3.096,0.774,5.197,2.323,6.307c0.774,0.555,1.701,0.832,2.781,0.832c1.901,0,3.838-0.691,5.81-2.079l0.563,1.871h4.047
                              l4.401-27.203L186.109,5.813L186.109,5.813z M182.52,27.958c-1.314,0.738-2.828,1.108-4.541,1.108
                              c-1.244,0-1.865-0.901-1.865-2.703c0-0.716,0.08-1.594,0.244-2.634c0.471-2.864,1.127-4.597,1.973-5.198
                              c0.376-0.254,0.833-0.381,1.373-0.381c1.714,0,3.134,0.231,4.261,0.693L182.52,27.958z"></path>
                          </g>
                      </svg>
          </h1>
        </div>
      </div>
    </div>
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
